<div class="container">
    <h4 [ngClass]="{'strike': todo.completed}">
        {{i+1}}. {{todo.title}}
    </h4>
    <p [ngClass]="{'strike': todo.completed}">
        {{todo.desc}}
    </p>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="todoCheck{{i}}"  (click)="onComplete(todo)">
        <label class="form-check-label" for="todoCheck{{i}}">{{todo.completed ? "UnDone":"Done"}}</label>
      </div>
    <button class="btn btn-sm btn-danger" (click)="onClick(todo)">Delete</button>
</div>